{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <h1 class = "align"> <b>Well-Being Predictor</b></h1>
    <br>
    <div class="align" style="text-align: center;">
        <a href="{{ url_for('auth.start') }}" class="btn btn-primary btn-lg">Commencer</a>
    </div>
{% endblock %}
