{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class ="pagestyle">
    <table class="table table-borderless">
        <tr> 
            <td ALIGN="CENTER"><h4 class = "pnavbut"> <b>Your predicted well-being score</b></h4> </td>
        </tr>
        <tr> 
            <td ALIGN="LEFT">
                {% set gauge_score = explain_dic.predicted_score %}
                {% include 'main/explain_intro_and_gauge.html' %}
                {% include 'main/disclaimer.html' %}
            </td>
        </tr>
    </table>
    {% include 'main/_explain_switcher.html' %}
    <br>
</div>
{% endblock %}


