{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class="pagestyle">
    <table class="table table-borderless">
        <tr>
            <td ALIGN="CENTER">
                <h4 class="pnavbut"><b>Your predicted well-being score</b></h4>
            </td>
        </tr>
        <tr>
            <td ALIGN="LEFT">
                {% if explain_dic.previous_predicted_score is none %}
                    {# — Score — #}
                    {% set gauge_score = explain_dic.predicted_score %}
                    {% include 'main/explain_intro_and_gauge.html' %}

                    {# — Explanation — #}
                    <h4 class="pnavsub">Why do you have this score?</h4>
                    
                    <p>
                        According to our algorithm, <strong>{{ explain_dic.n_informative }} lifestyle factors</strong> most strongly predict your well-being score.
                        Below are the questions associated with these {{ explain_dic.n_informative }} factors, along with your previous answers.
                    </p>
                    <p>
                        To better understand how these factors shape your well-being, <strong>try adjusting your responses</strong>.
                        Then, click the <strong>"Repredict"</strong> button to see how your score changes — and explore what matters most for your well-being.
                    </p>

                {% else %}
                    {# — Score — #}
                    {% set gauge_score_start = explain_dic.previous_predicted_score %}
                    {% set gauge_score_end = explain_dic.predicted_score %}
                    {% include 'main/explain_gauge_interactive.html' %}

                    {# — Retry suggestion — #}
                    <p>
                        Feel free to experiment with different combinations of answers before moving on. 
                    </p>
                {% endif %}
                
                <div style="border: 2px solid #325B7E; border-radius: 10px; padding: 25px 20px; margin: 30px 0;">
                    <form action="/explain" method="post">
                        <input type="hidden" name="source_page" value="explain_interactive.html">
                        <input type="hidden" name="previous_predicted_score" value="{{ explain_dic.predicted_score }}">
                        {% set button_text = "Repredict" %}
                        {% set button_class = "btn-retry" %}
                        {% include 'main/question_blocs.html'%}
                    </form>
                </div>

                <br>
                {# — Additionnal factors — #}
                <h4 class="pnavsub">What about the other factors?</h4>
                <p>
                    We highlight only the {{ explain_dic.n_informative }} most predictive factors identified by the algorithm. However, other factors such as time spent in nature, your chronotype, your working environment, etc. may also explain your well-being score.
                </p>
                
                {% include 'main/disclaimer.html' %}

            </td>
        </tr>
    </table>    
    {% include 'main/_explain_switcher.html' %}
    <br>
</div>
{% endblock %}
