{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class ="pagestyle">
    <table class="table table-borderless">
        <tr> 
            <td ALIGN="CENTER"><h4 class = "pnavbut"> <b>Your predicted well-being score</b></h4> </td>
        </tr>
        <tr> 
            <td ALIGN="LEFT">
                {# — Score — #}
                {% set gauge_score = explain_dic.predicted_score %}
                {% include 'main/explain_intro_and_gauge.html' %}

                {# — Explanation — #}
                <h4 class="pnavsub">Why do you have this score?</h4>
                <p>
                     According to our algorithm, <strong>{{ explain_dic.n_informative }} lifestyle factors</strong> most strongly predict your well-being score. 
                     Here's how your score was determined:
                </p>

                <ol>
                    {% for question_id, (question_label, question_content, question_description, question_coefficient, question_value, question_explain) in explain_dic.feature_content_dic.items() %}
                    <li class="question-item">
                        <strong>{{ question_content }}</strong> 
                        <br />
                        This factor contributes <strong>{{ (question_coefficient * question_value) | round(2) }}</strong> points to your score.
                        <button class="dropdown-toggle">How is it computed?</button>
                        <div class="dropdown-content">
                            <p>
                                This <strong>question</strong> is associated with a coefficient of <strong>{{ question_coefficient | round(2)}}</strong> by the algorithm.
                            </p>
                            <p>
                                Your <strong>answer</strong> to this question was: "<em>{{ question_explain }}</em>".
                                This answer is associated with a coefficient of <strong>{{ question_value | round(2)}}</strong> by the algorithm.
                            </p>
                            <p>
                                Therefore, the contribution of this factor to your score is calculated as:
                                <br>
                                <strong>{{ question_coefficient | round(2)}} × {{ question_value | round(2)}} = {{ (question_coefficient * question_value) | round(2) }}</strong>
                            </p>
                        </div>
                    </li>
                    {% endfor %}
                </ol>

                <p>Adding these factors together, we obtain <strong>{{ explain_dic.intermediate_predicted_score }}</strong> points.</p>

                {# — Additionnal factors — #}
                <h4 class="pnavsub">What about the other factors?</h4>
                <p>
                    We detail only the points for the the {{ explain_dic.n_informative }} most predictive factors identified by the algorithm. 
                    However, the rest of your score, <strong>{{ explain_dic.predicted_score }} - {{ explain_dic.intermediate_predicted_score }}</strong> = <strong>{{ explain_dic.predicted_score - explain_dic.intermediate_predicted_score }}</strong> points, come from other factors such as time spent in nature, your chronotype, your working environment, etc. that may also explain your well-being score.
                </p>

                {% include 'main/disclaimer.html' %} 

            </td>
        </tr>
    </table>
    {% include 'main/_explain_switcher.html' %}
    <br>
</div>
{% endblock %}
