{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class="pagestyle">
    <table class="table table-borderless">
        <tr>
            <td ALIGN="CENTER">
                <h4 class="pnavbut"><b>Your predicted well-being score</b></h4>
            </td>
        </tr>
        <tr>
            <td ALIGN="LEFT">
                {# — Score — #}
                {% set gauge_score = explain_dic.predicted_score %}
                {% include 'main/explain_intro_and_gauge.html' %}

                {# — Explanation — #}
                <h4 class="pnavsub">Why do you have this score?</h4>
                <p>
                    According to our algorithm, <strong>{{ explain_dic.n_informative }} lifestyle factors</strong> most strongly predict your well-being score.
                    Each axis of the radar chart corresponds to one of these key factors, and the position on the axis reflects how well you're doing in that area based on your answers.
                <br>
                    The <strong>outer edge</strong> of the chart represents the <strong>best possible score</strong> for that factor, while the <strong>center</strong> represents the <strong>worst possible score</strong>.
                    Therefore, <strong>being positioned near the center of the circle</strong> suggest there may be <strong>room for improvement</strong> for that factor.
                </p>

                <div class="chart-container">
                    <img src="{{ url_for('main.radar_chart',
                        labels=explain_dic.feature_content_dic.values() | map(attribute=0) | join(','),
                        values=explain_dic.feature_content_dic.values() | map(attribute=4) | join(',')
                        ) }}"
                        alt="Radar Chart">
                </div>

                {# — Legend of key factors — #}
                <p>
                    <strong>Radar chart legend</strong>
                </p>
                <p>
                    {% for question_id, question_data in explain_dic.feature_content_dic.items() %}
                        {{ question_data[0] }} - {{ question_data[1] }}<br>
                    {% endfor %}
                </p>
                <br>

                {# — Additionnal factors — #}
                <h4 class="pnavsub">What about the other factors?</h4>
                <p>
                    This chart highlights only the {{ explain_dic.n_informative }} most predictive factors identified by the algorithm. However, other factors such as time spent in nature, your chronotype, your working environment, etc. may also explain your well-being score.
                </p>
                
                {% include 'main/disclaimer.html' %}

            </td>
        </tr>
    </table>
    {% include 'main/_explain_switcher.html' %}
    <br>
</div>
{% endblock %}
