{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class ="pagestyle">
    <table class="table table-borderless">
        <tr> 
            <td ALIGN="CENTER"><h4 class = "pnavbut"> <b>Your predicted well-being score</b></h4> </td>
        </tr>
        <tr> 
            <td ALIGN="LEFT">
                {# — Score — #}
                {% set gauge_score = explain_dic.predicted_score %}
                {% include 'main/explain_intro_and_gauge.html' %}

                {# — Explanation — #}
                <h4 class="pnavsub">Why do you have this score?</h4>
                <p>
                    To help you understand what this number means, here’s how well-being scores were distributed among participants in the pilot study:
                </p>
                <ul>
                    <li>
                        25% of participants had a score below 43.
                        {% if explain_dic.predicted_score < 43 %}
                            &larr; <span style="color:#007bff;">Your well-being score falls in this group</span>
                        {% endif %}
                    </li>
                    <li>
                        25% had a score between 43 and 59
                        {% if explain_dic.predicted_score >= 43 and explain_dic.predicted_score < 59 %}
                            &larr; <span style="color:#007bff;">Your well-being score falls in this group</span>
                        {% endif %}
                    </li>
                    <li>
                        25% had a score between 59 and 74
                        {% if explain_dic.predicted_score >= 59 and explain_dic.predicted_score < 74 %}
                            &larr; <span style="color:#007bff;">Your well-being score falls in this group</span>
                        {% endif %}
                    </li>
                    <li>
                        25% had a score above 74
                        {% if explain_dic.predicted_score >= 74 %}
                            &larr; <span style="color:#007bff;">Your well-being score falls in this group</span>
                        {% endif %}
                    </li>
                </ul>

                {% include 'main/disclaimer.html' %} 
                
            </td>
        </tr>
    </table>
    {% include 'main/_explain_switcher.html' %}
    <br>
</div>
{% endblock %}
