{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class ="pagestyle">
    <table class="table table-borderless">
        <tr> 
            <td ALIGN="CENTER"><h4 class = "pnavbut"> <b>Thank you!</b></h4> </td>
        </tr>
        <tr> 
            <td ALIGN="LEFT">
                <p>
                    Thank you for your participation in this survey! We greatly appreciate the time and effort you have dedicated to completing this questionnaire. If you have encountered any difficulties or if this survey has raised any concerns for you, we encourage you to seek support. You can find helpful mental health resources at the following link:
                    <strong><a href="https://www.ccmhs-ccsms.ca/education/mh-resources-en" target="_blank">Resources</a></strong>
                </p>
                <p>
                    The study is now complete. You can now close this window.
                </p>
            </td>
        </tr>
    </table>
</div>
{% endblock %}


