{% set indicate_value = true %}
{% extends "main/base_questionnaire.html" %}
{% set title = "Satisfaction" %}
{% set description = "Here is a questionnaire about explanations you receive regarding how the algorithm (i.e. the one that computes your well-being score) works. Please indicate to what extent you agree with each of the following statements." %}
{% set table_description = "" %}
{% set form_action = "/merci" %}
{% set page_name = "satisfaction.html" %}
{% set button_text = "Next" %}
{% set button_class = "btn-primary btn-submit" %}
